<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Base Project</title>
  </head>
  <body>
    <div class="container mx-auto">
      <h1 class="font-bold text-2xl">Base Project</h1>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
